
// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px. 1.6rem=16px
html
	box-sizing: border-box
	font-size: 62.5%

// Default body styles
body
	color: $color-secondary
	font-family: 'Roboto Mono'
	font-size: 1.6em // currently ems cause chrome bug misinterpreting rems on body element
	font-weight: 300
	letter-spacing: .01em
	line-height: 1.6

// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before
	box-sizing: inherit

.sidebar
	background-color: $color-tertiary
	border: .1rem solid $color-tertiary
	padding: 3rem!important
	border-radius: 5px

	label
		font-size: 10px
		text-transform: uppercase

	input[type='submit'] 

		text-align: right
		background-color: $color-primary