// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require adminimal/lib/ress.css
//= require adminimal/lib/milligram/milligram
//= require adminimal/components/pagination
//= font-awesome

header {
	position: fixed;
	width:100%;
	top: 0;
	left: 0;
	padding: 10px;
	text-align: left;
	background: #ececec;
	z-index: 10;
	ul {
		list-style: none;
		margin: 0;
		li {
			display: inline-block;
			margin:0 5px 0px;
			text-transform: uppercase;
			a {
				font-size: 0.8em;
				margin-bottom: 0;
				&.active, &:hover {
					border-bottom: 2px solid Black;
				}
			}
		}
	}
	
}
.sortable-placeholder {
        display: table-row;
        line-height: 1.5rem;
        padding: 10px 20px;
        background-color: #ececec;
        min-height:84px;
        margin: 0;
        border-bottom: 1px solid #e0e0e0;
  }
.clear_header {
	margin-top: 70px;
	min-height: 100vh;
}

.index-actions {
	text-align: right;
}

li {
	list-style: none;
}

li.fragment {
    display: inline-block;
    margin-right: 15px;
}

tr {
	transition: all ease 0.5s;
	&.selected {
	background: #eee;
		.box {
			background: Black;
		}
	}
}

.selectable {
	width: 20px;
	
	.box {
		border:1px solid Black;
		width: 20px;
		height: 20px;
		cursor: pointer;
		transition:all ease 0.5s;
	}
}

.disabled {
	opacity: 0.2;
	pointer-events:none;
	
}
.notice {
	background: #413D3D;
	text-align: center;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 10px;
	padding: 10px;
	color: White;
}

.thumb {
	width: 100%;
	max-width: 200px;
}

.main-actions {
	text-align: center;
	padding: 20px 0px;
}
