<%= semantic_form_for(@resource) do |f| %>
  <div class="">
  <% @attrs.each do |i| %>
  <div class="form-inputs">
  <% if @model.respond_to?('uploaders') && @model.uploaders.keys.include?(i[:field].to_sym) %>
  <%= f.input i[:field], :as => :file, :hint => f.object.send(i[:field]).present? \
    ? image_tag(f.object.send(i[:field]).url, class: 'thumb')
    : content_tag(:span, "nothing uploaded") %>
  <% else %>
  <%= f.input i[:field], i %>
  <% end %>
  </div>
  <% end %>
  </div>
  <div class="form-actions">
    <%= f.actions %>
  </div>
<% end %>
