<% if notice.present? %>
<p class="notice"><%= notice %></p>
<% end %>
<div class="row">
  <div class="column"><h3>Editing <%= t "admin.#{controller_name}" %></h3></div>
   <div class="column index-actions">
<%= link_to 'Back', eval("#{@modelPath}_path"), class: 'button button-small' %>
	
</div>
</div>
<%= render 'form', resource: @resource %>

