<% if notice.present? %>
<p class="notice"><%= notice %></p>
<% end %>
   <div class="main-actions">
   
   <%= link_to 'New', eval("new_#{@singular}_path"), class: 'button button-small' %>
   <% (@batches || []).each do |b| %>
   <a href="<%= batch_path %>" class="js-batch batch button button-small button-outline disabled" data-model="<%= @model %>" data-batch="<%= b %>" data-ids=""><%= b.upcase %> SELECTED</a>
   <% end %>
  <a href="<%= batch_path %>" class="js-batch batch button button-small button-outline disabled" data-model="<%= @model %>" data-batch="delete" data-ids="">DELETE SELECTED</a>
  </div>
<div class="row row-wrap">
 
  <div class="column">
    <table>
  <thead>
    <tr>
      <th></th>
      <% @row_schema.each do |a| %>
      
           <th> <%= sort_link(@q, a.to_sym) %></th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="<%= 'sortable' if @model.column_names.include? 'position' %>" href="<%= sort_path %>" data-model="<%= @model %>">
    <% @resources.each do |resource| %>
      <tr data-id="<%= resource.id %>">
        <td class="selectable"><div class="box"></div></td>
         <% @row_schema.each do |a| %>
           <td><%= resource.send a %></td>
         <% end %>
        <td class="index-actions" colspan="3"><%= link_to raw('
<i class="fa fa-eye" aria-hidden="true"></i>'), eval("#{@singular}_path(resource)"), class: 'button button-small' %>
       <%= link_to raw('<i class="fa fa-pencil-square" aria-hidden="true"></i>'), eval("edit_#{@singular}_path(resource)"), class: 'button button-small'  %>
       <%= link_to raw('<i class="fa fa-trash" aria-hidden="true"></i>'), eval("#{@singular}_path(resource)"), method: "delete", data: { confirm: 'Are you sure?' }, class: 'button button-small button-outline'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @resources %>
  </div>

  
    <% if @search_attributes.present? %>
   <div class="column column-25 sidebar">
    <%= search_form_for @q do |f| %>
      <% @search_attributes.each do |a| %>
      <%= f.label a %>
      <% if @model.reflections.collect{|a, b| b.class_name if b.macro==:belongs_to}.compact.include?(a.to_s.split('_').first(a.to_s.split('_').size - 2).join("_").camelize) %>
        <%= f.collection_select a, a.to_s.split('_').first(a.to_s.split('_').size - 2).join("_").camelize.constantize.all, :id, :search_name, include_blank: true %>
      <% else %>
        <%= f.search_field a %>
      <% end %>
      <% end %>
      <div class="f-actions">
        <%= f.submit 'Search', :class => 'button-small' %>
        <% if params[:q].present? %>
        <%= link_to 'Reset', eval("#{@modelPath}_path"), class: 'button button-small button-outline' %>
        <% end %>
      </div>
    <% end %>
  </div>
     <% end %>
</div>

