<% if notice.present? %>
<p class="notice"><%= notice %></p>
<% end %>
<div class="row">
  <div class="column"><h3><%= t "admin.#{controller_name}" %></h3></div>
   <div class="column index-actions"><%= link_to 'Edit', eval("edit_#{@singular}_path(@resource)"), class: 'button button-small'  %>
<%= link_to 'Show all', eval("#{@modelPath}_path"), class: 'button button-small' %>
	
</div>
</div>
<table>
<% @resource.attribute_names.each do |a| %>
<tr>
	<td>
		<strong><%= a %></strong>
	</td>
	<td>
		<p><%= @resource.send a %></p>
	</td>
		

</tr>
<% end %>
</table>
</div>



