<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,100italic,300,300italic,400italic,500,700italic,500italic,700' rel='stylesheet' type='text/css'>

    <!-- Include Editor style. -->
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.3.5/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.3.5/css/froala_style.min.css' rel='stylesheet' type='text/css' />

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'adminimal/application', media: 'all' %>
  </head>

  <body>
  	<header>
    <div class="container">
      <ul>
       <li><%= link_to 'dashboard', '/admin', class: 'button button-outline' %></li>
       <% @nav.each do |n| %>
       <li><%= link_to t("admin.#{n}"), eval("#{n}_path"), :class => (current_page?(eval("#{n}_path")) ? "active" : "")  %></li>
       <% end %>
      </ul>
    </div>
  		
  	</header>
	<div class="container clear_header">
    	<%= yield %>	
	</div>
	<footer>
 
<!-- Include JS file. -->
<%= javascript_include_tag 'adminimal/application' %>
 <script src="//cdn.ckeditor.com/4.6.0/full/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.6.0/adapters/jquery.js"></script>  

    
	</footer>
  </body>
</html>
