<% if notice.present? %>
<p class="notice"><%= notice %></p>
<% end %>
   <div class="main-actions">
   
   <%= link_to 'New', eval("new_#{@singular}_path"), class: 'button button-small' %>
   <% (@batches || []).each do |b| %>
   <a href="<%= batch_path %>" class="js-batch batch button button-small button-outline disabled" data-model="<%= @model %>" data-batch="<%= b %>" data-ids=""><%= b.upcase %> SELECTED</a>
   <% end %>
  <a href="<%= batch_path %>" class="js-batch batch button button-small button-outline disabled" data-model="<%= @model %>" data-batch="delete" data-ids="">DELETE SELECTED</a>
  </div>
<div class="row row-wrap">
 
  <div class="column">
    <table>
  <thead>
    <tr>
      <th></th>
      <% @row_schema.each do |a| %>
      
           <th> <%= sort_link(@q, a.to_sym) %></th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr data-id="<%= resource.id %>">
        <td class="selectable"><div class="box"></div></td>
         <% @row_schema.each do |a| %>
           <td><%= resource.send a %></td>
         <% end %>
        <td class="index-actions" colspan="3"><%= link_to 'Show', eval("#{@singular}_path(resource)"), class: 'button button-small' %>
       <%= link_to 'Edit', eval("edit_#{@singular}_path(resource)"), class: 'button button-small'  %>
       <%= link_to 'Destroy', eval("#{@singular}_path(resource)"), method: "delete", data: { confirm: 'Are you sure?' }, class: 'button button-small button-outline'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @resources %>
  </div>


   <div class="column column-25 sidebar">
    <%= search_form_for @q do |f| %>

      <%= f.label :title_cont %>
      <%= f.search_field :title_cont %>

      <%= f.label :body_cont %>
      <%= f.search_field :body_cont %>
      <div class="f-actions">
        <%= f.submit 'Search', :class => 'button-small' %>
        <% if params[:q].present? %>
        <%= link_to 'Reset', eval("#{@modelPath}_path"), class: 'button button-small button-outline' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

